.rounded-circle {
  border-radius: 20%!important;
  justify-content: center;
  height: 100%;
  width: 100%;
  object-fit: cover
}

.center-align {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto
}
